/* header */
header .container .header-top .navbar .navbar-right .main-menu ul {
    list-style-type: none;
}
header .container .header-top .navbar .mobile-nav-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
}
/* footer */
footer ul {
    list-style-type: none;
}
/* for student page */
/* accordion icon  */
@media screen and (min-width: 320px) {
    .faq-section .faq-wrapper .faq .faq-head .faq-icon span {
        font-size: 20px;
        margin-top: -5px;
    }
}
/* for profession */
/* remove padding */
.professional-offer-section .professional-offer-context ul {
    padding-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .professional-offer-section .professional-offer-context a {
        margin: 0px;
    }
}
/* button problem fix */
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .professional-offer-section .professional-offer-context a {
        font-size: 14px;
        margin: 0px;
        margin-left: 0px;
        max-width: 180px;
        display: block;
        margin-left: 15px;
    }
}

/* 1400 to 1600 */
@media all and (min-width: 1400px) and (max-width: 1600px) {
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: 0%;
        bottom: -17%;
    }
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: 6%;
    }
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: -3%;
        bottom: -15%;
    }
    .have-question-section .have-question-wrapper .have-question-left .have-question-img {
        right: -5%;
        top: -15%;
    }
    .pricing-section .pricing button {
        left: 48%;
    }
    .join-area .get-app .get-app-text h2 {
        line-height: 50px;
        font-size: 40px;
    }
}
