/* 
* For student page
* For professional
*/

/* header */
header .container .header-top .navbar .navbar-right .main-menu ul {
    list-style-type: none;
}
header .container .header-top .navbar .mobile-nav-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
}
/* footer */
footer ul {
    list-style-type: none;
}
footer .copyright {
    background: #f4f4f4;
}

/* for student page */

/* accordion icon  */
@media screen and (min-width: 320px) {
    .faq-section .faq-wrapper .faq .faq-head .faq-icon span {
        font-size: 20px;
        margin-top: -5px;
    }
}
/* for profession */
/* remove padding */
.professional-offer-section .professional-offer-context ul {
    padding-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .professional-offer-section .professional-offer-context a {
        margin: 0px;
    }
}
/* button problem fix */
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .professional-offer-section .professional-offer-context a {
        font-size: 14px;
        margin: 0px;
        margin-left: 0px;
        max-width: 180px;
        display: block;
        margin-left: 15px;
    }
}

/* 1400 to 1600 */
@media all and (min-width: 1400px) and (max-width: 1600px) {
    /* for student page */
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: 0%;
        bottom: -17%;
    }
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: 6%;
    }
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: -3%;
        bottom: -15%;
    }
    .have-question-section .have-question-wrapper .have-question-left .have-question-img {
        right: -5%;
        top: -15%;
    }
    .pricing-section .pricing button {
        left: 48%;
    }
    .join-area .get-app .get-app-text h2 {
        line-height: 50px;
        font-size: 40px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    /* for student page */
    .have-question-section .have-question-wrapper .have-question-left .have-question-img {
        right: -20%;
        top: 20%;
    }
    .for-student-service-section h2 {
        max-width: 358px;
    }
    .pricing-section .pricing {
        max-height: 470px;
    }
    .get-app-text .img-group {
        margin-top: 20px;
    }
    .for-students .faq-section {
        margin-top: -2px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        top: 30%;
        left: 6%;
    }
}
@media all and (min-width: 992px) and (max-width: 1159px) {
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: 5%;
    }
    .pricing-section .pricing {
        max-height: 580px;
    }
    .get-app-text .img-group {
        margin-top: 35px;
    }
    .get-app-text .img-group {
        margin-top: 35px;
    }
    .get-app-text .img-group img {
        width: 200px;
    }
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: 5%;
        top: 50%;
        z-index: 988;
    }
}
@media all and (min-width: 1200px) and (max-width: 1359px) {
    .for-student-banner-section .student-banner-wrapper .student_banner-bottom .banner_award {
        left: 5%;
        bottom: -25%;
    }
    .have-question-section {
        margin-top: 200px;
    }
    .have-question-section .have-question-wrapper .have-question-left .have-question-img {
        right: -40%;
        top: -15%;
    }
    .pricing-section .pricing {
        max-height: 600px;
    }
    .join-area .get-app .get-app-img {
        margin-left: 100px;
    }
    .get-app-text h2 {
        font-size: 40px;
    }
    .img-group {
        margin-top: 40px;
    }
}
@media all and (min-width: 1400px) and (max-width: 1600px) {
    .get-app-text h2 {
        font-size: 34px;
        line-height: 46px;
        font-weight: 500;
    }
    .for-students .faq-section {
        margin-bottom: 100px;
    }
}

/* for professional page */
@media all and (min-width: 320px) and (max-width: 575px) {
    .professional-offer-section {
        padding: 50px 0px;
    }
    .professional-offer-section .professional-offer-context h2 {
        font-size: 28px;
        line-height: 40px;
    }
}
@media all and (min-width: 576px) and (max-width: 767px) {
    .spellon-professional-page .professional-banner-section .professional-banner-middle .middle-content h2 {
        margin-left: 20px;
    }
    .spellon-professional-page .professional-banner-section .professional-banner-middle .middle-content p {
        font-size: 16px;
        line-height: 26px;
        color: #6d6e71;
        margin-left: 20px;
    }
    .spellon-professional-page .professional-banner-section .professional-banner-bottom .bottom-content {
        order: 1;
        max-width: 100%;
        margin-top: 30px;
        margin-left: 50px;
    }
    .spellon-professional-page .professional-offer-section {
        padding: 60px 0px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .spellon-professional-page .professional-banner-section .professional-banner-bottom .bottom-content {
        margin-top: 40px;
        margin-left: 40px;
    }
}
@media all and (min-width: 1400px) and (max-width: 1600px) {
    .spellon-professional-page .img-group {
        margin-top: 40px;
    }
}

/* grePeb */
@media all and (min-width: 320px) {
    .package-section .package-wrapper .package .package-body ul {
        list-style-type: none;
        padding-left: 0px;
    }
    footer ul {
        padding-left: 0px;
    }
    .package-section .package-wrapper .package button {
        margin-top: -20px;
    }
}
